@model VideoGameDetailsViewModel;
<div class="row">
    <div class="col-lg-12">
        <div class="page-content">

            <!-- ***** Featured Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="feature-banner header-text">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="~/images/@Model.VideoGame.ImageName" alt="" style="border-radius: 23px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Featured End ***** -->
            <!-- ***** Details Start ***** -->
            <div class="game-details">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>@Model.VideoGame.Name Details</h2>
                    </div>
                    <div class="col-lg-12">
                        <div class="content">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="left-info">
                                        <div class="left">
                                            
                                            <h4> Genre: @Model.VideoGame.Genre</h4>
                                            <h4>Developer: @Model.VideoGame.Developer</h4>
                                            <h4>Year :@Model.VideoGame.ReleaseYear</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="right-info">
                                        <h4>Platforms aviliable</h4>
                                        <ul>
                                            @foreach(string name in Model.Platforms){
                                                <li>@name</li>
                                            }
                                          
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <p>@Model.VideoGame.Description</p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="main-border-button">
                                        <a asp-controller="Library"
                                        asp-action="AddGame"
                                        asp-route-idVideoGame="@Model.VideoGame.Id"> Add @Model.VideoGame.Name to youre library</a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="main-border-button">
                                        <a asp-controller="User"
                                           asp-action="AddGameToList"
                                           asp-route-idVideoGame="@Model.VideoGame.Id"> Add @Model.VideoGame.Name to a list</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>